.slide{
    height: 100vh;
    width: 100%;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
}

h1{
    font-family: 'Rubik Mono One', sans-serif;
}