*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body{
    font-family: 'Rubik Mono One', sans-serif;
}

main{
    position: relative;
}

.circles{
    position: fixed;
    top: 30px;
    font-size: 0%;
    right: 20px;
    z-index: 1;
}

.circles span{
    width: 40px;
    height: 40px;
    background-color: white;
    display: inline-block;
    border-radius: 100%;
    line-height: 40px;
    font-size: 1rem;
    margin-left: 30px;
    text-align: center;
    box-shadow: 5px 5px 27px 5px rgba(0,0,0,0.2);
}

.circles span:hover{
    box-shadow: 5px 5px 27px 5px rgba(0,0,0,0.4);
}

.circles span:active{
    background-color: #f6f6f6;
}

.circles a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: inline-block;
    color: black;
}

.slide{
    height: 100vh;
    width: 100%;
    position: relative;
}

.red{
    background-color: red;
    color: yellow;
}

.green{
    background-color: green;
    color: yellow;
}

.yellow{
    background-color: yellow;
    color: green;
}

h1{
    text-align: center;
    font-size: 2.5rem;
}

.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
